body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, li, .title { 
   font-family: 'Mina';
}
/*h1, li {  
  text-align: center;
}*/
.title {  
  background-color: inherit;
  font-size: 20px;
}
li {  
  list-style-type: none;  font-size: 18px;
}

/*.standardButtons{
  padding:15px 0px 15px 0px !important;
}*/